							</div>  <!-- left panel end -->
							<div id="right_panel">
								{include file="menu.html"}								
							</div>  <!-- right panel end -->
							
							<div style="clear: both"></div>
						</div>
						
					</div>
					<div class="lower lower_main">
			
						<div class="left"></div><div class="middle"></div><div class="right"></div>	
					</div> 
					{assign var=ppt_micr value='This website is not affiliated or associated with Microsoft® Corporation in any way.
					 Microsoft®, PowerPoint® are trademarks property of Microsoft® Corporation. The PowerPoint® logo is a property of Microsoft® Corporation.'}
					
					{assign var=ppt_cont value='Fun, PPS! Fun! has no ability to control the user content that is uploaded, posted or emailed and does not have any obligation to monitor such user content. Fun, PPS! Fun! is not responsible for the accuracy, completeness, appropriateness, legality or applicability of the user content or anything uploaded or written by our users.
					Fun, PPS! Fun! reserves the right to remove and delete any content or user submissions from the site without notice.'}
					<a style="margin-left: 10px; display: block; margin-top: 20px;" href="{page_url page=privacy}">Privacy policy</a>
					
					<div class="footer">{$ppt_micr|escape}<br /><br />{$ppt_cont|escape}<br /><br /></div>
						
					
				</div>
			</div>
			
			<div id="right_container"></div>
		</div>  <!-- container -->
		
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
			
		<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-4696937-3");
			pageTracker._trackPageview();
		</script>
		
	</body>
</html>