{include file="header.html"}
	<div class="box box_big">
	<div class="upper">
		<div class="left"></div><div class="middle"></div><div class="right"></div>	
	</div>
	<div class="content">
		<div class="inner_content" style="font-size: 13px;">
			<h2>Privacy Policy</h2>
			<br />
			<br />
			Welcome to Fun, PPS! Fun!, young and perspective community site oriented towards the sharing and uploading of funny PowerPoint presentations and slideshows with friends from all over the world. We greatly value the principles of privacy of our users and employees, so here is our policy, laid out in plain English:
			<br />
			<br />
			<ul class="privacy_list">
				<li>You can submit and/or change your personal information at any time.</li>
				<li>You can end your membership with Fun, PPS! Fun! at any time by sending an account deletion inquiry at accounts(at)funppsfun.com.</li>
				<li>Fun, PPS! Fun! will not use personally identifiable information such as names and email addresses, date of birth, age or gender to any harm whatsoever.</li>
				<li>Fun, PPS! Fun! will not offer, sell, modify or misuse personally identifiable information, unless requested by law enforcement agencies or government regulators to protect the rights and properties of Fun, PPS! Fun!, its affiliates or the public.</li>
				<li>Fun, PPS! Fun! reserves the right to remove any offensive content from the site including but not limited to presentations, descriptions, tags and comments. If the given user(s) violate this policy more than once they can and will be banned from the site for good. </li>
				<li>Fun, PPS! Fun! will display that information on your profile on the site to be seen by the other users, unless you have specifically opted not to.</li>
				<li>Fun, PPS! Fun! does not store non-personally identifiable data (i.e. IP addresses, browser information).</li>
				<li>Fun, PPS! Fun! may use both personally and non-personally identifiable data for statistically analyzes of the distribution of content and usage behavior of our site in order to improve your further experience with the site and the development of new features.</li>
				<li>Fun, PPS! Fun! will not share your email address with anyone you share a presentation with outside the site (they will not see your email address).</li>
				<li>The security of your profiles is your responsibility. Fun, PPS! Fun! will try and prevent identity theft and malicious behavior from other people’s accounts but is in no way responsible for any misuses.</li>
			</ul>	
			<br />
			<h3 style="color: #7C6687;">Effective Date</h3>
			<br />
			
			This Privacy Policy statement is effective as of August 5, 2008.
			<br />
			<br />
			<h3 style="color: #7C6687;">Contact</h3>
			<br />
			If you have any questions about this privacy statement(s) address them to privacy(at)funppsfun.com
			<br />
		</div>
	</div>
	<div class="lower">
		<div class="left"></div><div class="middle"></div><div class="right"></div>	
	</div> 
</div>
{include file="footer.html"}